.feature-icon {
    width: 54px;
    height: 54px;
    margin-right: 10px;
    padding-bottom: 5px;
}
.why-choose-us {
    background-color: #f9f9f9;
    padding: 50px 20px;
}
.consultation-card {
    background-color: #e6f7f5;
    padding: 30px;
    border-radius: 10px;
}
.consultation-card img {
    border-radius: 50%;
}
.consultation-btn {
    background-color: #4CAF50;
    color: white;
}